.container{
    width: 100%;
    max-width: 225px;
    margin: 0 auto;
  }
  
  .card{
      width: 225px;
      // min-height: 350px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: rgba(167, 154, 154, 0.611);
      display: flex;
      flex-direction: column; /* Размещаем элементы в колонку */
      border-radius: 4px;
      transition: 0.2s;
      position: relative;
      margin-bottom: 20px;
      padding: 20px;
  }
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
      box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  .card__bottom {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
      padding: 10px;
    }
  
    .card__del{
      display: block;
      width: 100%;
      font-weight: 400;
      font-size: 17px;
      color: #b93b15;
      padding: 10px;
      text-align: center;
      border: 1px solid #3e0d05;
      border-radius: 4px;
      cursor: pointer; /* Меняем курсор при наведении */
      transition: 0.2s;
      margin-top: auto; /* Прижимаем кнопку к низу карточки */
    }
  
    .card__del:hover {
      border: 1px solid #ff6633;
      background-color: #ff6633;
      color: #fff;
    }
  
  
  
  
  
  
  
  
    section {
      display: table;
    }
    
    .example-label {
      display: table-cell;
      font-size: 14px;
      margin-left: 8px;
      min-width: 120px;
    }
    
    .example-button-row {
      display: table-cell;
      max-width: 600px;
    }
    
    .example-button-row .mat-mdc-button-base {
      margin: 8px 8px 8px 0;
    }
    
    .example-flex-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .example-button-container {
      display: flex;
      justify-content: center;
      width: 120px;
    }
    